DATABASE_URL=postgresql://clube:clube@127.0.0.1:15432/clube_do_album_notification
RABBITMQ_URL=amqp://clube:clube@localhost:5672
RABBITMQ_EXCHANGE=clube-do-album.events
RABBITMQ_DEAD_LETTER_EXCHANGE=clube-do-album.dead-letter
SERVER_PORT=3005

IDENTITY_API_URL=http://localhost:8081
CATALOG_API_URL=http://localhost:3001

ALBUM_RATED_QUEUE=notification.album-rated.queue
ALBUM_RATED_ROUTING_KEY=album.rated
USER_FOLLOWED_QUEUE=notification.user-followed.queue
USER_FOLLOWED_ROUTING_KEY=user.followed
RANKING_UPDATED_QUEUE=notification.ranking-updated.queue
RANKING_UPDATED_ROUTING_KEY=ranking.updated
