DATABASE_URL=postgresql://clube:clube@localhost:5432/clube_do_album
RABBITMQ_URL=amqp://clube:clube@localhost:5672

USER_FOLLOWED_QUEUE=user.followed.queue
RANKING_UPDATED_QUEUE=ranking.updated.queue
TRENDING_ALBUM_QUEUE=trending.album.queue
